In [10]:
local_path = 'C:\\Users\\elmha\\OneDrive - Universidad de Chile\GitHub\Sistema_Experto_APP\data\Horcon-etiquetado_con_1_etiqueta.csv'
import pytz
import pandas as pd

def load_data(path):
    '''
    ARGS: path to the local .csv file
    Load data and search for the Date_Time column to index the dataframe by a datetime value.

    '''
    data = pd.read_csv(path, sep=';')
    data['Date_Time'] = pd.to_datetime(data['Date_Time'])
    data.set_index('Date_Time', inplace=True)
    chile=pytz.timezone('Chile/Continental')
    data.index = data.index.tz_localize(pytz.utc).tz_convert(chile)
    return data

In [11]:
datas = load_data(local_path)
datas.head()

,Pression [cm H2O],Temperatura [°C],EC [µs/cm],etiqueta conjunta
Date_Time,,,,
2013-02-03 10:00:00-03:00,981.5,17.81,257,1
2013-02-03 11:00:00-03:00,871.1,17.86,9,1
2013-02-03 12:00:00-03:00,870.7,17.80,9,1
2013-02-03 13:00:00-03:00,1025.5,17.71,256,1
2013-02-03 14:00:00-03:00,870.3,17.84,9,1

In [33]:
from pycaret.classification import *

s = setup(datas, target = 'etiqueta conjunta', session_id = 123,silent = True, use_gpu = True)

In [34]:
# model training and selection
best = compare_models()

In [31]:
from pycaret.classification import *

s = setup(datas, target = 'etiqueta conjunta', session_id = 123, silent = True, use_gpu = True,fold_strategy='timeseries')

In [32]:
# model training and selection
best = compare_models()

In [35]:
from pycaret.classification import *

s = setup(datas, target = 'etiqueta conjunta', session_id = 123, silent = True, use_gpu = True,fold_strategy='timeseries', data_split_shuffle = False)

In [36]:
# model training and selection
best = compare_models()

In [37]:
lgbm = create_model('lightgbm')

In [40]:
tune_lgbm = tune_model(lgbm)

In [41]:
tune_lgbm2 = tune_model(lgbm,optimize='F1')