In [2]:
local_path = 'C:\\Users\\elmha\\OneDrive - Universidad de Chile\GitHub\Sistema_Experto_APP\data\Horcon-etiquetado_con_1_etiqueta.csv'
import pytz
import pandas as pd

def load_data(path):
    '''
    ARGS: path to the local .csv file
    Load data and search for the Date_Time column to index the dataframe by a datetime value.

    '''
    data = pd.read_csv(path, sep=';')
    data['Date_Time'] = pd.to_datetime(data['Date_Time'])
    data.set_index('Date_Time', inplace=True)
    chile=pytz.timezone('Chile/Continental')
    data.index = data.index.tz_localize(pytz.utc).tz_convert(chile)
    return data

In [3]:
datas = load_data(local_path)
datas.head()

,Pression [cm H2O],Temperatura [°C],EC [µs/cm],etiqueta conjunta
Date_Time,,,,
2013-02-03 10:00:00-03:00,981.5,17.81,257,1
2013-02-03 11:00:00-03:00,871.1,17.86,9,1
2013-02-03 12:00:00-03:00,870.7,17.80,9,1
2013-02-03 13:00:00-03:00,1025.5,17.71,256,1
2013-02-03 14:00:00-03:00,870.3,17.84,9,1

In [3]:
from pycaret.classification import *

s = setup(datas, target = 'etiqueta conjunta', session_id = 123,silent = True, use_gpu = True)

In [9]:
# model training and selection
best = compare_models(sort='F1')

In [10]:
best

LGBMClassifier(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
               device='gpu', importance_type='split', learning_rate=0.1,
               max_depth=-1, min_child_samples=20, min_child_weight=0.001,
               min_split_gain=0.0, n_estimators=100, n_jobs=-1, num_leaves=31,
               objective=None, random_state=123, reg_alpha=0.0, reg_lambda=0.0,
               silent=True, subsample=1.0, subsample_for_bin=200000,
               subsample_freq=0)

In [31]:
from pycaret.classification import *

s = setup(datas, target = 'etiqueta conjunta', session_id = 123, silent = True, use_gpu = True,fold_strategy='timeseries')

In [5]:
# model training and selection
best = compare_models(sort='F1')

In [16]:
print(best.)

SyntaxError: invalid syntax (Temp/ipykernel_2388/3488622342.py, line 1)

In [35]:
from pycaret.classification import *

s = setup(datas, target = 'etiqueta conjunta', session_id = 123, silent = True, use_gpu = True, fold_strategy='timeseries', data_split_shuffle = False)

In [36]:
# model training and selection
best = compare_models()

In [37]:
lgbm = create_model('lightgbm')

In [40]:
tune_lgbm = tune_model(lgbm)

In [41]:
tune_lgbm2 = tune_model(lgbm,optimize='F1')

#  PRUEBA DE AUTOML

Pruebas de AUTOML

In [4]:
from pycaret.classification import *

s = setup(datas, target = 'etiqueta conjunta', session_id = 123, silent = True, use_gpu = True)

In [5]:

# compare all baseline models and select top 5
top5 = compare_models(n_select = 5) 
# tune top 5 base models
tuned_top5 = [tune_model(i) for i in top5]
# ensemble top 5 tuned models
bagged_top5 = [ensemble_model(i) for i in tuned_top5]
# blend top 5 base models 
blender = blend_models(estimator_list = top5) 
# stack top 5 models
stacker = stack_models(estimator_list = top5[1:], meta_model = top5[0])
# select best model 
best = automl(optimize = 'Recall')

In [8]:
best = compare_models(n_select=2)
c = pull()
c

,Model,Accuracy,AUC,Recall,Prec.,F1,Kappa,MCC,TT (Sec)
lightgbm,Light Gradient Boosting Machine,0.9658,0.9845,0.7672,0.9114,0.8329,0.8140,0.8179,1.072
xgboost,Extreme Gradient Boosting,0.9644,0.9855,0.7724,0.8933,0.8280,0.8082,0.8112,0.443
rf,Random Forest Classifier,0.9641,0.9788,0.7576,0.9048,0.8245,0.8047,0.8088,0.937
et,Extra Trees Classifier,0.9619,0.9744,0.7304,0.9091,0.8098,0.7889,0.7949,1.071
dt,Decision Tree Classifier,0.9536,0.8847,0.7956,0.7890,0.7922,0.7661,0.7662,0.069
gbc,Gradient Boosting Classifier,0.9500,0.9619,0.5846,0.9460,0.7221,0.6964,0.7211,1.367
knn,K Neighbors Classifier,0.9342,0.8461,0.5194,0.8243,0.6367,0.6026,0.6223,0.723
ada,Ada Boost Classifier,0.9323,0.8960,0.4467,0.8898,0.5943,0.5618,0.6020,0.458
lda,Linear Discriminant Analysis,0.9247,0.6902,0.3228,1.0000,0.4873,0.4581,0.5450,0.031
lr,Logistic Regression,0.9246,0.7272,0.3220,1.0000,0.4865,0.4572,0.5443,0.113
ridge,Ridge Classifier,0.9246,0.0000,0.3224,1.0000,0.4869,0.4576,0.5447,0.021
qda,Quadratic Discriminant Analysis,0.9220,0.8040,0.3541,0.8658,0.5020,0.4677,0.5235,0.022
nb,Naive Bayes,0.9193,0.7897,0.3357,0.8466,0.4800,0.4451,0.5019,0.033
dummy,Dummy Classifier,0.8888,0.5000,0.0000,0.0000,0.0000,0.0000,0.0000,0.014
catboost,CatBoost Classifier,0.8696,0.8882,0.7001,0.8150,0.7529,0.7361,0.7389,6.539
svm,SVM - Linear Kernel,0.6767,0.0000,0.5246,0.6820,0.3897,0.3062,0.3595,0.252

In [7]:
best_score_grid = pull()

best_score_grid

,Model,Accuracy,AUC,Recall,Prec.,F1,Kappa,MCC,TT (Sec)
catboost,CatBoost Classifier,0.9662,0.9860,0.7761,0.9065,0.8360,0.8173,0.8205,7.590
lightgbm,Light Gradient Boosting Machine,0.9658,0.9845,0.7672,0.9114,0.8329,0.8140,0.8179,1.572
xgboost,Extreme Gradient Boosting,0.9644,0.9855,0.7724,0.8933,0.8280,0.8082,0.8112,0.526
rf,Random Forest Classifier,0.9641,0.9788,0.7576,0.9048,0.8245,0.8047,0.8088,0.976
et,Extra Trees Classifier,0.9619,0.9744,0.7304,0.9091,0.8098,0.7889,0.7949,1.061
dt,Decision Tree Classifier,0.9536,0.8847,0.7956,0.7890,0.7922,0.7661,0.7662,0.061
gbc,Gradient Boosting Classifier,0.9500,0.9619,0.5846,0.9460,0.7221,0.6964,0.7211,1.352
knn,K Neighbors Classifier,0.9342,0.8461,0.5194,0.8243,0.6367,0.6026,0.6223,0.174
ada,Ada Boost Classifier,0.9323,0.8960,0.4467,0.8898,0.5943,0.5618,0.6020,0.575
lda,Linear Discriminant Analysis,0.9247,0.6902,0.3228,1.0000,0.4873,0.4581,0.5450,0.025
lr,Logistic Regression,0.9246,0.7272,0.3220,1.0000,0.4865,0.4572,0.5443,0.085
ridge,Ridge Classifier,0.9246,0.0000,0.3224,1.0000,0.4869,0.4576,0.5447,0.019
qda,Quadratic Discriminant Analysis,0.9220,0.8040,0.3541,0.8658,0.5020,0.4677,0.5235,0.022
nb,Naive Bayes,0.9193,0.7897,0.3357,0.8466,0.4800,0.4451,0.5019,0.020
dummy,Dummy Classifier,0.8888,0.5000,0.0000,0.0000,0.0000,0.0000,0.0000,0.013
svm,SVM - Linear Kernel,0.6767,0.0000,0.5246,0.6820,0.3897,0.3062,0.3595,0.228